.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 500px;
  background-color: aliceblue;
  text-align: center;
  padding: 30px 0 50px;
  border-radius: 50px;
  filter: drop-shadow(5px 5px 10px #353535);
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}
#item-name {
  padding: 5px;
  border: none;
  border: 1px solid aqua;
  border-radius: 50px;
}
#add-item {
  padding: 7px;
  background-color: aqua;
  color: #000;
  border: none;
  border-radius: 50px;
  font-weight: 700;
}
#myList {
  padding-right: 40px;
}
.notify {
  color: red;
  padding: 10px;
  border: 1px solid red;
  text-align: center;
}
.items {
  background-color: rgb(188, 235, 243);
  color: #000;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  transition: all 1s ease-out;
  margin-bottom: 5px;
}
.items:hover {
  scale: 1;
}
.del-btn {
  padding: 5px;
  border: none;
  background-color: #f76b6b;
  color: #ebe6e6;
  border-radius: 50px;
  transition: all 1s ease-out;
}
.del-btn:hover {
  border: 1px solid red;
}
